
<div class="text-center">



<% if user_signed_in? %>
<p>Hello, <%= current_user.username %>.</p>
   
   
  <% else %>
  <h1>Welcome to Instagram Clone</h1>

  <p>Please register or sign in </p>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success"%>
<%= link_to "Sign in", new_user_session_path, class: "btn btn-secondary"%>
  
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% end %>


</div>