<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 mt-2 text-light" ">
    © 2021 Copyright:
    <a class="text-light" href="https://www.aratori.net/">Aratori.net</a>
  </div>
  <!-- Copyright -->
</footer>
