 
<li class="nav-item active">
  <a class="nav-link" href="<%= new_user_registration_path%>">Sign up<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="<%= new_user_session_path%>">Sign In</a>
</li>


